BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
PointerAlignment: Left
InsertNewlineAtEOF: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_]+>$'   # C++ standard library
    Priority: 1
  - Regex: '^<.*>$'        # third-party
    Priority: 2
  - Regex: '^"crowdbook/'  # this project
    Priority: 3
  - Regex: '.*'
    Priority: 4
